.home h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home p,
.home li {
  font-size: 1.05rem;
  line-height: 1.65;
}

.home ul {
  margin-left: 1.2rem;
  list-style-type: disc;
}

.home strong {
  font-weight: 700;
}
